:root {
  --cell-size: 200px;
  --mark-size: calc(var(--cell-size) * 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 710px;
  height: 825px;
  border-radius: 25px;
  margin: 30px;
  padding: 50px;
  color: #fff;
  background-color: #17181c;
}
.game-title {
  text-align: center;
  user-select: none;
}

.fancy {
  color: #e31b6d;
}

.status-player {
  font-size: 30px;
  font-weight: 500;
}

.status-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 25px;
}

.status {
  user-select: none;
}

.reset {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.reset:hover {
  color: #e31b6d;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 7px;
  background-color: #fff;
}

.grid-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #17181c;
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.12);
  height: calc(var(--mark-size) * 1.05);
  background-color: rgb(143, 38, 192);
  border-radius: 6px;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}

.circle::before,
.circle::after {
  content: '';
  position: absolute;
  background-color: #08fdd8;
  border-radius: 50%;
}

.circle::before {
  width: calc(var(--mark-size) * 0.9);
  height: calc(var(--mark-size) * 0.9);
}

.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #17181c;
}

@media (max-width: 768px) {
  .game-title {
    font-size: 25px;
  }

  .status-action {
    font-size: 20px;
  }

  .container {
    width: 550px;
    height: 690px;
    padding: 36px;
  }

  :root {
    --cell-size: 155px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 550px;
    height: 690px;
    padding: 20px;
  }

  :root {
    --cell-size: 140px;
  }
}

@media (max-width: 490px) {
  .container {
    width: 440px;
    height: 590px;
    padding: 15px;
  }

  :root {
    --cell-size: 135px;
  }
}

@media (max-width: 390px) {
  .container {
    width: 99%;
    height: 550px;
    padding: 15px;
  }

  :root {
    --cell-size: 105px;
  }
}

@media (max-width: 360px) {
  .container {
    height: 500px;
    padding: 15px;
  }

  :root {
    --cell-size: 90px;
  }
}
